---
import Layout from "../layouts/Layout.astro";
import GameBoard from "../components/Gameboard.svelte";
---

<Layout title="Super Tic Tac Toe!" class:list={"bg-white"}>
	<main class="bg-white h-screen w-screen flex justify-center items-center">
		<GameBoard />
	</main>
</Layout>
